body {
    font-size:12px;
    font-family: Arial;
    margin: 0px;
}
#logo-edumet {
    align-self: center;
    height:10vh;
    width:40vh;
}
#nom_estacio {
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin:10px;
}
#header {
    display:flex;
    height:10vh;
}
#map {
    width:100vw;
    height:80vh;
}
#logoEstacio {
    height:10vh;
    display:flex;
    margin-left:auto;
    margin-right:0
}
#est_logo {
    height:10vh;
}
#mesurat {
    display:flex;
    flex-direction:column;
    text-align:center;
    justify-content: space-evenly;
    height:10vh;
}
.mesures {
    display:flex; 
    justify-content: center;
}
.icones {
    height:16px;
}
#capsalera {
    height:10vh;
    display: flex;
    justify-content: center;
}
#content {
    height:80vh;
}
#menu-botons {
    display:flex;
    width:100%;
    height:10vh;
}
.boto-sup {
    width:20%;
    background-repeat: no-repeat !important;
    background-position:center !important;
    background-size: 10vh !important;
}
#fenologia {
    display:none;
    flex-direction:column;
    align-items:center;
    height:80vh;
}
#estacions {
    display:flex;
    flex-direction:column;
    height:80vh;
}
#foto {
    width:36vh;
    height:36vh;
    margin:1vh;
}
#fenomen {
    width:80vw;
    height:10vh;
}
#descripcio {
    width:80vw;
    height:20vh;
    margin:1vh;    
}
#menu-inferior {
    display:flex;
    height:10vh;
}
.boto-inf {
    width:25%;
    background-repeat: no-repeat !important;
    background-position:center !important;
    background-size: 10vh !important;
}

